@font-face {
    font-family: pickbazar;
    src: url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2);
}

@font-face {
    font-family: notoSanExtraBold;
    src: url(../pickbazar/fonts/Noto_Sans/NotoSans-ExtraBold.ttf);
}

*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: pickbazar;
    text-decoration:none;
    list-style: none;
}

.dropdown div:hover
{
    color: rgb(27, 188, 123);
    cursor: pointer;
}
.dropdown div span
{
    margin-left: 10px;
}

.sidelist ul li:hover
{
  color:rgb(0,159,127) ;
  cursor: pointer;
  transition: 0.2s linear;
}

.subheader1 div button:hover
{
    background-color: aqua;
    transition: 0.3s linear;
}


  .sidenav .sidebar-header .closebtn:hover
  {
    background-color:rgb(0,159,127) ;
    color: white;
  }

  .section2
  {
    width: 100%;
    height: 300px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .carousel-container
  {
    width: 95%;
    height: 72%;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
  }
  .content
  {
    display: flex;
    gap: 20px;
    position: absolute;
  }
  .content img
  {
    width: 470px;
    height: 100%;
    border-radius: 5px;
  }
  #carouselbtnback , #carouselbtnforward
  {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 10px;
    box-shadow: 0px 3px 5px grey;
  }
  #carouselbtnback
  {
    top : 45%;
    left: 20px;
  }
  #carouselbtnforward
  {
    right: 20px;
    top: 45%;
  }
  /* .backward
  {
    transform: translate(-480px);
    transition: 1s linear;
  }
  .forward
  {
    transform: translate(0px);
    transition: 1s linear;
  } */